.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    height: fit-content;

    padding: 70px;
    padding-inline: var(--50px);
    gap: var(--10px);

    background: linear-gradient(to bottom,
    #171717 ,
    var(--neutral-6)
    );
}

.logo {

}

.info {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;

    width: 100%;
    height: fit-content;

    padding-inline: var(--20px);
}

.info h2 {
    width: 40%;
}

.info button {
    min-width: 265px;
}

@media (min-width: 768px) {

}